body {
    display: flex;
    flex-direction: column;
    background-image: url('./back.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

.filler{
}

.heading{
    height: 35vh;
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
}

.child{
    align-self: center;
    display: flex;
    flex-direction: row;
}

.projects{
    align-self: center;
    display: flex;
    flex-direction: column;
}